.mat-icon {
  display:table-footer-group;
  text-align:start;
  position:initial;
  height: 24px;
  width: 24px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:8mm;
  color:lavender;
}




